.project {
    margin-top: 1em;
}

@media print {
    a {
        color: inherit;
    }
    
    a:not(.dont-append-link)::after {
        content: "(" attr(href) ")";
        
        /* 
            Hide the underline. doesn't work without display (https://stackoverflow.com/a/15688237)
            then couldn't insert a space, thus padding
        */
        text-decoration: none;
        display: inline-block;
        padding-left: 0.5ch;
    }
    
    .page-break {
        break-before: page;
    }
}
